@import 'varibles';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.page {
  height: 100%;
  padding: 3%;
  background-color: $dark;
}

nav {
  background-color: $mediumDark!important;
  color: $accentTwo;

  .navbar-brand {
    color: $text;
  }
}

#app,
main {
  min-height: 100vh;
  background-color: $dark;
}

.articles {
  background-color: $mediumDark;
  border-radius: 15px;
  padding: 2%;

  .loadMoreBtn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: $mediumDark;
    border-radius: 15px;
    padding: 1%;
    color: $text;
    border: none;
    transition-duration: 0.5s;
    font-weight: bold;
  }

  .loadMoreBtn:hover {
    color: $accent;
    transition-duration: 0.5s;
  }
}

#ask {
  .contianer {
    border-radius: 15px;
    padding: 2%;
    color: $text;
    background-color: $mediumDark;

    h1 {
      font-size: 3em;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 5%;
      color: $accent;
      font-size: 1.5em;
    }
  }
}

.story {
  color: $text !important;
  margin-bottom: 3%;
  display: block;
  padding: 1%;
  transition-duration: 0.2s;
  border-radius: 15px;
  text-decoration: none!important;

  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 700;
    @media (max-width: 450px) {
      font-size: 1.2em;
    }

    span {
      color: $accent;
      font-size: 0.7em;
      font-weight: bold;
      @media (max-width: 450px) {
        font-size: 0.7em;
      }
    }
  }

  p {
    color: $accentTwo;
    font-size: 1em;
    font-weight: 100;
    @media (max-width: 450px) {
      font-size: 0.7em;
    }
  }
}

.story:hover {
  background-color: $dark;
  transition-duration: 0.2s;
}